* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0!important;
}

li {
  list-style: none;
}

.bg {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background: #f1f2f6;
}

.home-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-top: 3rem;
  @include respond-to(medium) {
    width: 80vw;
  }
}

.rowEmail {
  display: none;
  @include respond-to(medium) {
    display: block;
  }
}

.mailIcon {
  display: block;
  cursor: pointer;
  @include respond-to(medium) {
    display: none;
  }
}
