header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 1rem;

  button:active {
    background: pink;
  }
}

.search-container {
  display: flex;
}

.btn {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 0.5rem;
}
